…ou crie um novo repositório na linha de comando
echo "# Python-biblioteca-numpy" >> README.md 
git init 
git add README.md 
git commit -m "primeiro commit" 
git branch -M main 
git remote add origin https://github.com/Nichole-Furtado/Python-biblioteca-numpy.git
 git push -u origin main

 …ou envie um repositório existente a partir da linha de comando
git remoto adicionar origem https://github.com/Nichole-Furtado/Python-biblioteca-numpy.git
 git branch -M main 
git push -u origin main